@font-face {
  font-family: "TTLaundryGothicB";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/TTLaundryGothicB.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

.fa-solid.fa-keyboard {
  font-size: 55px;
}

html,
body {
  height: 100%;
}
h1 {
  color: #feb941;
  font-size: 55px;
  font-family: "TTLaundryGothicB";
  margin: 0;
  margin-bottom: 30px;
}
#wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #fffae6;
}

#my-input {
  width: 400px;
  height: 30px;
  font-size: 20px;
  margin-bottom: 30px;
  border-radius: 6px;
  border: 3px solid #f78f74;
  outline: 0;
}
.events {
  width: 333px;
  height: 34px;
  border: 1px solid #e65c19;
  border-left: 0;
  margin: 10px 0;
  /* border-radius: 10px; */
  display: flex;
  justify-content: space-around;
}
.event {
  width: 50%;
  padding: 5px;
  text-align: center;
  border-left: 1px solid #e65c19;
  background-color: #ffe0b5;
  color: rgba(249, 86, 11, 0.771);
  font-weight: 800;
}
.function-keys {
  width: 700px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.row {
  display: flex;
  justify-content: space-between;
}
.main-keys {
  width: 700px;
  height: 300px;
}
.key {
  border: 1px solid #e65c19;
  width: 45px;
  height: 45px;
  border-radius: 5px;
  display: flex;
  margin: 2px;
  justify-content: center;
  align-items: center;
  background-color: #ffc96f;
  color: #ef3304;
  font-weight: 600;
}
#ControlLeft,
#ControlRight,
#AltLeft,
#AltRight,
#MetaLeft,
#MetaRight {
  width: 50px;
}
#Space {
  width: 284px;
}
#Backspace,
#Tab {
  width: 79px;
}
#CapsLock,
#Enter {
  width: 86px;
}
#ShiftLeft,
#ShiftRight {
  width: 110px;
}
.check {
  color: white;
}
#keypress.check {
  background-color: #fb6d48;
}
#keydown.check {
  background-color: #ffc700;
}
#keyup.check {
  background-color: #fda403;
}
.on {
  color: white;
  background-color: var(--main-color);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
  transform: translateY(1px);
}
:root {
  --main-color: white;
}
