.FoodListForm {
  display: flex;
  justify-content: space-between;
}
.FoodListForm input {
  background-image: url("../assets/ic-search.png");
  background-repeat: no-repeat;
  background-size: 35px;
  background-position-x: 95%;
  background-position-y: center;
}
.FoodListForm button {
  border: none;
  padding: 20px 0;
  background-color: transparent;
  font-size: 16px;
}
.FoodListButton {
  display: flex;
  gap: 30px;
}
