.warn {
  text-align: center;
}
.icon {
  display: block;
  margin: 0 auto;
}
.title {
  font-weight: 500;
  font-size: 20px;
  margin: 20px auto 3px;
}
.big .title {
  font-size: 24px;
}
.description {
  font-weight: 500;
  color: #878787;
  margin: 0;
}
.big .description {
  font-size: 18px;
}
